<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Volunteer Form</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
       <!-- Navigation-->
       <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #759145;">
        <div class="container-fluid p-0" style="background-color: #759145;">
            <a class="navbar-brand" href="/" style="color: #f7f4de;">
                <img src="../assets/TSlogoLowRes.png" alt="..." />Turtle Shelter Project
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color: #f7f4de;">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            How to Help
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/howToHelpIcons">Become a Volunteer</a></li>
                            <li><a class="dropdown-item" href="/howToHelpIcons">Donate</a></li>
                            <li><a class="dropdown-item" href="/howToHelpIcons">Host an Event</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/eventRequest">Event Request</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminRedirect">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <section>
            <div class="container">
                <h2>Admin Form</h2>
                <form id="adminRequestForm" method="post" action="/submitAdminForm">
                    <div class="form-row">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <input class="form-control" type="text" id="FirstName"name="FirstName" placeholder="Volunteer First Name *" required />
                            </div>
                            <div class="form-group col-md-5">
                                <input class="form-control" type="text" id="LastName"name="LastName" placeholder="Volunteer Last Name" required/>
                            </div>
                        </div>
                        <div><h6>Contact Information</h6></div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <input class="form-control" type="text" id="City" name="City" placeholder="City *" required />
                            </div>
                            <div class="form-group col-md-3">
                                <select class="form-control" name="state" id="state" required>
                                    <option value="" disabled selected>Select your state *</option>
                                    <option value="ut">Utah</option>
                                    <option value="al">Alabama</option>
                                    <option value="ak">Alaska</option>
                                    <option value="az">Arizona</option>
                                    <option value="ar">Arkansas</option>
                                    <option value="ca">California</option>
                                    <option value="co">Colorado</option>
                                    <option value="ct">Connecticut</option>
                                    <option value="de">Delaware</option>
                                    <option value="fl">Florida</option>
                                    <option value="ga">Georgia</option>
                                    <option value="hi">Hawaii</option>
                                    <option value="id">Idaho</option>
                                    <option value="il">Illinois</option>
                                    <option value="in">Indiana</option>
                                    <option value="ia">Iowa</option>
                                    <option value="ks">Kansas</option>
                                    <option value="ky">Kentucky</option>
                                    <option value="la">Louisiana</option>
                                    <option value="me">Maine</option>
                                    <option value="md">Maryland</option>
                                    <option value="ma">Massachusetts</option>
                                    <option value="mi">Michigan</option>
                                    <option value="mn">Minnesota</option>
                                    <option value="ms">Mississippi</option>
                                    <option value="mo">Missouri</option>
                                    <option value="mt">Montana</option>
                                    <option value="ne">Nebraska</option>
                                    <option value="nv">Nevada</option>
                                    <option value="nh">New Hampshire</option>
                                    <option value="nj">New Jersey</option>
                                    <option value="nm">New Mexico</option>
                                    <option value="ny">New York</option>
                                    <option value="nc">North Carolina</option>
                                    <option value="nd">North Dakota</option>
                                    <option value="oh">Ohio</option>
                                    <option value="ok">Oklahoma</option>
                                    <option value="or">Oregon</option>
                                    <option value="pa">Pennsylvania</option>
                                    <option value="ri">Rhode Island</option>
                                    <option value="sc">South Carolina</option>
                                    <option value="sd">South Dakota</option>
                                    <option value="tn">Tennessee</option>
                                    <option value="tx">Texas</option>
                                    <option value="ut">Utah</option>
                                    <option value="vt">Vermont</option>
                                    <option value="va">Virginia</option>
                                    <option value="wa">Washington</option>
                                    <option value="wv">West Virginia</option>
                                    <option value="wi">Wisconsin</option>
                                    <option value="wy">Wyoming</option>
                                </select>
                            </div>    
                            <div class="form-group col-md-3">
                                <input class="form-control" type="email" id="Email" name="Email" placeholder="Volunteer Email *" required />
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" type="tel" name="Phone" id="Phone" placeholder="(823) 456-7890" pattern="\(\d{3}\) \d{3}-\d{4}" required 
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');" />
                            </div>
                        </div>
                        <div><h6>Other Information</h6></div>
                        <div class="row">                  
                            <div class="form-group col-md-3">
                                <input class="form-control" type="number" name="TravelTime" id="TravelTime" placeholder="Hours Willing to Travel for Events *" min="1" required />
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control" type="number" name="MonthlyHrsWilling" id="MonthlyHrsWilling" placeholder="Hours Available per Month *" min="1" required />
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="volunteerType">Sewing Experience Level *</label>
                        <select class="form-control" name="SewingLevel" id="SewingLevel" required>
                            <option value="No Experience">No Experience</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="heardFrom">Where did you hear about this opportunity? *</label>
                        <select class="form-control" name="HowTheyHeard" id="HowTheyHeard" required>
                            <option value="">Select an option</option>
                            <option value="social_media">Social Media</option>
                            <option value="friends">Friends or Family</option>
                            <option value="website">Website</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group" id="otherInput" style="display: none;">
                        <label for="otherSource">Please specify</label>
                        <input class="form-control" type="text" name="otherSource" id="otherSource" placeholder="Specify your source" />
                    </div>
                    <script>
                        document.getElementById('HowTheyHeard').addEventListener('change', function () {
                            var otherInput = document.getElementById('otherInput');
                            if (this.value === 'other') {
                                otherInput.style.display = 'block';
                                document.getElementById('otherSource').setAttribute('required', 'required');
                            } else {
                                otherInput.style.display = 'none';
                                document.getElementById('otherSource').removeAttribute('required');
                            }
                        });
                    </script>
                    <div class="form-group">
                        <label>If called upon, would you be willing to lead out at an event? *</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="LeadWilling" id="leadOutYes" value="yes" required>
                            <label class="form-check-label" for="leadOutYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="LeadWilling" id="leadOutNo" value="no">
                            <label class="form-check-label" for="leadOutNo">No</label>
                        </div>
                    </div>
                    <div class="row">                  
                        <div class="form-group col-md-3">
                            <input class="form-control" type="string" name="username" id="username" placeholder="UserName *" min="1" required />
                        </div>
                        <div class="form-group col-md-4">
                            <input class="form-control" type="string" name="password" id="password" placeholder="Password *" min="1" required />
                        </div>
                        <div class="form-group col-md-3">
                            <select class="form-control" name="role" id="role" required>
                                <option value="" disabled selected>What is their role? *</option>
                                <option value="admin">Admin</option>
                                <option value="volunteer">Volunteer</option>
                            </select>
                        </div>
                    </div> 
                    <div><h6>Additional Details</h6></div>
                    <div class="form-group">
                        <textarea class="form-control" name="Comments" id="Comments" placeholder="Please let us know any addtional details that may be important" ></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit Information</button>
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4" style="background-color: #303030; position: absolute; bottom: 0; width: 100%; height: 30 px;">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start ms-3 text-white">
                        Copyright &copy; Turtle Shelter Project 2024
                    </div>
                    <div class="col-lg-4 my-3 my-lg-0 d-flex justify-content-center">
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/turtleshelterproject/" target="blank" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/turtleshelterproject/" target="blank" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
        </footer>
        <!-- Bootstrap core JS-->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
       <script src="/backend/scripts.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>