<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login Page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<%- include('partials/header_public') %>
<main style="padding-top: 12%;">
    <div class="outer-container">
        <div class="login-container" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 15px; width: 400px; margin: 0 auto; padding: 20px;">
            <h2 style="text-align: center;">Admin Login</h2>
            <div class="error-message">
                <% if (typeof error !== 'undefined') { %>
                <p style="color: red; text-align: center;"><%= error %></p>
                <% } %>
            </div>
            <form action="/login" method="POST">
                <div class="form-group" style="margin-bottom: 15px;">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-row" style="margin-bottom: 15px;">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <div style="margin-top: 10px;">
                        <input type="checkbox" id="showPassword" onclick="togglePassword()">
                        <label for="showPassword">Show Password</label>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" style="width: 100%; padding: 10px; border-radius: 5px;">Login</button>
            </form>
        </div>
    </div>
</main>

<!-- Footer-->
<footer class="footer py-4" style="background-color: #303030; position: fixed; bottom: 0; width: 100%; height: auto;">
    <div class="row align-items-center">
        <div class="col-lg-4 text-lg-start ms-3 text-white">
            Copyright &copy; Turtle Shelter Project 2024
        </div>
        <div class="col-lg-4 my-3 my-lg-0 d-flex justify-content-center">
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/turtleshelterproject/" target="blank" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/turtleshelterproject/" target="blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const passwordType = passwordInput.getAttribute('type');
        passwordInput.setAttribute('type', passwordType === 'password' ? 'text' : 'password');
    }
</script>
<!-- AI chatbot -->
<script>
    window.embeddedChatbotConfig = {
    chatbotId: "IkNw9nzzXdHAQli9XYC8V",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="IkNw9nzzXdHAQli9XYC8V"
    domain="www.chatbase.co"
    defer>
</script>
<script src="/backend/scripts.js"></script>
</body>
</html>
