<!-- Footer-->
<footer class="footer py-4" style="background-color: #303030; width: 100%;">
    <div class="row align-items-center">
        <div class="col-lg-4 text-lg-start ms-3 text-white">
            Copyright &copy; Team 1-12
        </div>
        <div class="col-lg-4 my-3 my-lg-0 d-flex justify-content-center">
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/turtleshelterproject/" target="blank" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/turtleshelterproject/" target="blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
